{{ $ := .root }}
{{ $page := .page }}
{{ $autolink := default true $page.Params.autolink }}

<!-- Contact widget -->
<div class="row contact-widget">
  <div class="col-12 text-center section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-12">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-md-6">

    <div class="mb-3">
    {{ if site.Params.map }}
    <div class="d-none">
      <input id="map-provider" value="{{ site.Params.map }}">
      <input id="map-lat" value="{{ site.Params.latitude }}">
      <input id="map-lng" value="{{ site.Params.longitude }}">
      <input id="map-dir" value="{{ site.Params.address }}">
      <input id="map-zoom" value="{{ site.Params.zoom | default "15" }}">
      <input id="map-api-key" value="{{ site.Params.map_api_key }}">
    </div>
    <div id="map"></div>
    {{ end }}
    </div>

  </div>
  <div class="col-md-6">
    <ul class="fa-ul" itemscope>
      {{ if and site.Params.email (not $page.Params.email_form) }}
      <li>
        <i class="fa-li fas fa-envelope mt-2" aria-hidden="true"></i>
        <span id="person-email" itemprop="email">
          {{- if $autolink }}<a
            href="mailto:{{ site.Params.email }}">{{ site.Params.email }}</a>{{ else }}{{ site.Params.email }}{{ end -}}
        </span>
      </li>
      {{ end }}

      {{ with site.Params.phone }}
      <li>
        <i class="fa-li fas fa-phone mt-2" aria-hidden="true"></i>
        <span id="person-telephone" itemprop="telephone">
          {{- if $autolink }}<a href="tel:{{ . }}">{{ . }}</a>{{ else }}{{ . }}{{ end -}}
        </span>
      </li>
      {{ end }}

      {{ with site.Params.address }}
      <li>
        <i class="fa-li fas fa-map-marker-alt mt-2" aria-hidden="true"></i>
        <span id="person-address" itemprop="address">{{ . | markdownify | emojify }}</span>
      </li>
      {{ end }}

      {{ with site.Params.office_hours }}
      <li>
        <i class="fa-li fas fa-clock mt-2" aria-hidden="true"></i>
        <span>{{ . | markdownify | emojify }}</span>
      </li>
      {{ end }}

      {{ with site.Params.appointment_url }}
      <li>
        <i class="fa-li fas fa-calendar-check mt-2" aria-hidden="true"></i>
        <a href="{{ . }}" target="_blank"
          rel="noopener">{{ i18n "book_appointment" | default "Book an appointment" }}</a>
      </li>
      {{ end }}

    </ul>
  </div>
  <div class="col-12">
  </div>
</div>
